:host {
  display: block;
}

    .item {
      box-sizing: border-box;
      height: 150px;
      border-bottom: 1px solid #ddd;
      padding: 4px;
      cursor: default;
      background-color: white;
      overflow: hidden;
    }

    .selected {
      background: silver;
    }

    .message {
      padding-left: 77px;
      padding-botton: 15px;
      /*line-height: 127%;*/
      background-repeat: no-repeat;
      background-position: 16px 0px;
      background-size: 47px;
      height: 100%;
    }
    
    .title {
      display: inline;
      font-weight: bold;
    }
    .subtitle {
      display: inline;
      font-size:.8em;
    }
    
    .format {
      margin-left: 10px;
      font-size: 10px;
      opacity: 0.8;
    }
    .date {
      margin-left: 10px;
      font-size: 10px;
      opacity: 0.8;
    }
    .author {
      margin-left: 10px;
      font-size: 10px;
      opacity: 0.8;
    }
    .call {
      margin-left: 10px;
      font-size: 10px;
      opacity: 0.8;
    }
    
    .body {
      font-size: 12px;
    }

    .spaced {
      margin: 10px;
    }

    .out.selected {
      background: inherit;
    }

    .item.out .message{
      opacity: 0.5;
    }
